.main {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main2 {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #782323;
}
.imgcss {
 width: 400px;
 height: 420px;
}
.title {
    font-size: 100px;
    color: #360404;
}
.title2 {
    font-size: 20px;
    color: #360404;
}
.bttn {
width: 100px;
height:50px;
border: none;
border-radius: 50px;
background-color:#1f0909 ;
display: flex;
align-items: center;
justify-content: center;
}
.bttn2 {
    width: 100px;
    height:50px;
    border: none;
    border-radius: 50px;
    background-color: white;
    color: #782323;
    display: flex;
    align-items: center;
    justify-content: center;
    }
.input {
  height:50px;
  background-color: white;
  border: none;
  border-radius: 30px;
  padding: 10px;
  font-size: 20px;
  color: black;
}
.login {
    width: 50%;
    height: 100vh;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #782323;
}